<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <div class="form-container">
    <h2>New User Register</h2>
    <% if (success && success.length) { %>
      <script>alert("<%= success %>");</script>
    <% } %>
    <% if (error && error.length) { %>
      <div class="flash-error"><%= error %></div>
    <% } %>
    <form method="POST" action="/register">
      <label>Name</label>
      <input type="text" name="name" required/>
      <label>Email</label>
      <input type="email" name="email" required/>
      <label>Password</label>
      <input type="password" name="password" required/>
      <button type="submit">Register</button>
    </form>
    <a href="/login">Already have an account?</a>
  </div>
</body>
</html>
